
@{
    ViewBag.Title = "Activate account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>

        User account has been activated @Html.ActionLink("Click here to sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

